[Unit]
Description=Setup the console colors
DefaultDependencies=no
ConditionPathExists=/consolecolors

[Service]
Type=oneshot
ExecStart=setcolors -c /dev/console /consolecolors
